.unregister-button {
    position: absolute;
    top: 0px;
    left: 50px;
    /* background-color: #BBB; */
    border: none;
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-size: 1.2rem;
}

.register-button {
    /* background-color: gray(200); */
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
}

.register-input {
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
}