.daily-attendance {
    position: relative;
    display: inline-block;
    background-color: #eee;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    width: 7vw;
    max-width: 80px;
    height: 100px;
}