.attendanceTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}

.thead {
    height: 35px;
    background-color: rgb(97, 97, 97);
    color: white;
    font-weight: bold;
}

.attend {
    background-color: yellowgreen;
}

.absent {
    background-color: brown;
}

.none {
    background-color: gainsboro;
}